<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'test_page.css' %}">
</head>
<body>
    <h2> TESTS HERE</h2>
    <article class="probe">
        <h2> MY_PERSONS: {{ sss }}</h2>
        <h2> Age of {{ person }} are: {{ age_keti }}</h2>
        <h2> {{ person }} work as: {{ work_keti }}</h2>
        <h2> {{ person }} live in: {{ town_keti }}</h2>
    </article>
{#    <form class="back" action='b' method='GET'>#}
{#         <button class="back" type=submit >BACK</button>#}
     </form>

</body>
</html>